.header {
    display: grid;
}

.container_principal {
    margin-right: auto;
    margin-left: auto;
    max-width: 1260px;
    width: 100%;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

.sale {
	background-color: #7a4a58;
	color: #fff;
}

.sale h3 {
	text-align: center;
	font-weight: 700;
}

.menu1 {
	background-color: #c8c6cb;
}

.list-menu1 {
	display: flex;
    list-style: none;
    margin: 4px 10px 4px 0;
    float: right;
}

.list-menu1 li a {
	color: #636065;
	font-weight: bold;
	font-size: 12px;
}

.list-menu1 li {
	padding: 5px;
}

.img-princ {
	width: 136px;
	height: 93px;
	margin: 0 0 0 46px;
}

.list-menu2 {
	display: flex;
    list-style: none;
}

.list-menu2 li a {
	color: #636065;
	font-size: 14px;
	font-weight: bold;
}

.list-menu2 li {
	padding: 5px;
}

.carrito a {
	color: #636065;
	font-size: 14px;
	font-weight: bold;
}

.carrito p {
	text-align: center;
}

.buscador {
    padding-top: 0.3em !important;
    margin-right: 0px;
}

.btn-primary {
    color: #020202;
    background-color: #fff;
    border-color: #ccc;
}

.envio p {
	color: #a2818b;
	margin: 26px 0 0 0;
}

hr {
	border-top: 1px solid #adadad;
}

.migas a {
	color: #9d9d9d;
}

.w3-col.s4 {
    width: 33.33333%;
}

.w3-col {
    float: left;
    width: 100%;
}

.img-color {
	width: 70px;
}

.descripcion h4, p, a {
	color: #636065;
}

.talla {
	padding: 5px
}

.tallas {
	background: #c8c6ca;
	width: 40px;
	height: 40px;
}

.tallas p {
	text-align: center;
	color: #020202;
	font-weight: bold;
	padding: 10px;
}

.titulo-zapato, .color-zapato, .talla-zapato, .guia-zapato {
	padding: 5px;
}

.btn {
	background-color: #7a4a58;
	color: #fff;
	padding: 10px 42px;
}

.btn:hover {
	color: #fff;
}

.button {
	padding: 6px 12px;
    -ms-touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #636065;
}

.productos h4, p {
	color: #636065;
}

.look {
	background-color: #e7e5e2;
	height: 37px;
	padding: 10px;
}

.look h4 {
	margin-top: 0px;
}

.social {
	background-color: #e7e6e2;
	color: #5c5b5b;
}

.social h1 {
	text-align: center;
	font-weight: 700;
}

.lis-menus {
	list-style: none;
}

.enlaces h5 {
	text-align: center;
}